body{
    background:url(close-up-portrait-attractive-male-model-color-flash-light.jpg);
}
h1{
    border: 1px solid;
    text-align: center;
    font-style: italic;
}

h2{
    border: 1px solid;
    text-align:center;
}
.btn input{
    text-align: center;
}
